###------------------------------------------------------------------------------------------------
# application: Infrastructure - NAT
# script:      codedeploy.config
# class:       Dependency
# version:     1.0.0
###------------------------------------------------------------------------------------------------
APPLICATION_NAME="Infrastructure - NAT"
APPLICATION_ABBR="infrastructure-nat"

DIRECTORY_BUNDLE="/apps/bundle"

YUM_PACKAGES_DEFAULT=(
)

AWS_INFO_VARIABLES_REQUIRED=(
    'stack_name'
    'region'
    'environment'
    'project_name'
    'project_abbr'
    'function_name'
    'function_abbr'
    'instance_id'
    'vpc_stack_name'
)

SECRETS_FILES_GLOBAL=(
)

SECRETS_FILES=(
)

SECRETS_VARS_REQUIRED=(
)

SECRETS_VARS_OPTIONAL=(
)

STACK_VARIABLES_REQUIRED=(
    'VPCCidr'
    'RouteTablePrivateId'
)
